.hljs {
  display: block;
  background: white;
  color: #111;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  overflow-x: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}

.hljs-tag {
  font-weight: bold;
}

.hljs-comment {
  color: #999;
  font-style: italic;
}

.hljs-subst {
  color: #111;
}

.hljs-meta {
  color: #333;
}