* {
  margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #FFF;
}

.container {
    min-height: 100%;
    /* keep width for large screens */
    max-width: 1024px;
    margin:0 auto; /* to keep container in the middle */
    position:relative;
    background-color: #FFF;
}

.body {
    padding: 20px;
    min-height: 100%;
    /* footer margin - same as footer height */
    margin-bottom:-45px;
}

/* the little hack from https://css-tricks.com/snippets/css/sticky-footer/ */
.body:after {
  content: "";
  display: block;
}

.footer, .body:after {
    height:45px;
}

/* footer settings */
.footer {
    position:absolute;
    bottom:0;
    font-size: .82em;
    width: 100%;
    min-width: 320px;
}

.footer ul {
    padding: 10px 25px;
    list-style: none;
    position:absolute;
    bottom: 10px;
}

.footer ul li {
    padding-left: 3px;
    padding-right: 3px;
    display: inline;
}

.footer ul.copyright {
    right:0;
    font-size: .78em;
}

/* header settings */

.header {
    padding: 10px;
}

.header nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.header nav ul li {
    display: inline;
    padding-left: 2%;
}

.header .home {
    font-size: 1.2em;
    fint-weight: bold;
    padding-left: 20px;
}

/* link settings */
a {
    color: #333;
    text-decoration: none;
}

.body a {
    color: #8B7590;
    font-weight: bold;
}

a:hover {
    color: #98859C;
    font-weight: bold;
    text-decoration: underline;
}

/* page content settings */
.body source, .body img {
    width: 100%;
    max-width: 800px;
}

/* for things like images, share links etc. */
.center {
    text-align: center;
}

h1 {
    padding: 10px;
    font-size: 2.2em;
}

h2 {
    padding: 10px;
    font-size: 1.8em;
    color: #333;
}

h3 {
    padding: 10px;
}

.body p {
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/* date and tags on post */
p.meta {
    font-size: 1.2em;
    color: #555;
    padding-bottom: 20px;
}

/* date and tags on Posts and Tags */
span.meta {
    color: #555;
}

ul.posts, a.latest {
    padding: 10px;
    font-size: 1.4em;
}

.latest p {
    font-size: 1.4em;
}

ul.latest {
    padding-left: 0px;
}

ul.latest li {
    padding-bottom: 20px;
}

ul.posts li, ul.latest li {
    list-style: none;
}

/* | between date and post name */
.divider {
    padding-left: 10px;
    padding-right: 10px;
}

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    max-width: 500px;
}

.tag_box li {
    line-height: 28px;
    padding-bottom: 6px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #555;
    color: #FFF;
    text-decoration: none;
}

.tag_box a:hover {
    background: #FFF;
    color: #555;
}

/* 404 page */
.error {
    color: #F78181;
}

/* share links colors */
.share {
    padding-top: 20px;
    padding-bottom: 40px;
}

.share a {
    color: #555;
}

.share a:hover {
    color: #98859C;
}

/*google fonts*/
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* highlight */
  /* based on grayscale.css */

.hljs {
    display: block;
    background: #FFF;
    color: #111;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.4em;
    overflow-x: auto;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    white-space: pre-wrap;
  }
  
  code.highlighter-rouge {
    text-decoration: none;
    font-style: italic;
    color: #111;
    font-family: 'Open Sans', Helvetica, Arial, monospace;
  }
  
  .hljs-tag {
    color: #333;
    font-weight: bold;
  }
  
  .hljs-meta {
    color: #8B7590;
    font-weight: bold;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #8B7590;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #555;
    font-weight: bold;
  }
  
  .hljs-number,
  .hljs-literal {
    color: #777;
  }
  
  .hljs-string,
  .hljs-doctag,
  .hljs-formula {
    color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat;
  }
  
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #000;
    font-weight: bold;
  }
  
  .hljs-subst {
    font-weight: normal;
  }
  
  .hljs-class .hljs-title,
  .hljs-type,
  .hljs-name {
    color: #333;
    font-weight: bold;
  }
  
  .hljs-regexp {
      color: #333;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link {
    color: #000;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
  }
  
  .hljs-built_in,
  .hljs-builtin-name {
    color: #000;
    text-decoration: underline;
  }
  
  .hljs-deletion {
    color: #fff;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
  }
  
  .hljs-addition {
    color: #000;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }