* {
  margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 100%;
    position:relative;
}

.body {
    padding: 20px;
    min-height: 100%;
    margin-bottom:-40px;
}

/* the little hack from https://css-tricks.com/snippets/css/sticky-footer/ */
.body:after {
  content: "";
  display: block;
}

.footer, .body:after {
    height:40px;
}

/* footer settings */
.footer {
    padding: 10px;
    position:absolute;
    bottom:0;
    font-size: .8em;
    width: 95%;
}

.footer ul {
    padding: 0px;
    list-style: none;
    position:absolute;
    bottom: 10px;
}

.footer ul li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.footer ul.copyright {
    right:0;
}

/* header settings */

.header {
    padding:10px;
}

.header nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.header nav ul li {
    display: inline;
    padding-left: 20px;
}

/* link settings */
a {
    color: #333;
    text-decoration: none;
}

.body a {
    color: #999;
}

a:hover {
    color: #999;
    text-decoration: underline;
}

/* page content settings */

h1 {
    padding: 10px;
    font-size: 3em;
}

h2 {
    padding: 10px;
    font-size: 1.8em;
    color: #333;
}

h3 {
    padding: 10px;
}

.body div {
    padding: 10px;
}

.body p {
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

p.meta {
    font-size: 1.2em;
    color: #444;
}

span.meta {
    font-size: 0.8em;
    color: #444;
}

ul.posts, a.latest {
    padding: 10px;
    font-size: 1.5em;
}

.latest p {
    font-size: 1.2em;
}

ul.latest li {
    padding-bottom: 20px;
}

ul.posts li, ul.latest li {
    list-style: none;
}

.divider {
    padding-left: 10px;
    padding-right: 10px;
}

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-bottom: 20px;
}

.tag_box li {
    line-height: 28px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #555;
    color: #FFF;
    text-decoration: none;
}

/*
.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
*/

.tag_box a:hover {
    background: #FFF;
    color: #555;
}

/* 404 page */
.error {
    color: #F78181;
}
