* {
  margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* licence file settings */
body.licence {
    padding: 10px;
}

.container {
    min-height: 100%;
    position:relative;
}

.body {
    padding: 20px;
    min-height: 100%;
    margin-bottom:-40px;
}

/* the little hack from https://css-tricks.com/snippets/css/sticky-footer/ */
.body:after {
  content: "";
  display: block;
}

.footer, .body:after {
    height:40px;
}

/* footer settings */
.footer {
    padding: 10px;
    position:absolute;
    bottom:0;
    font-size: .8em;
}

.footer ul {
    padding: 0px;
    list-style: none;
}

.footer ul li {
    display: inline;
    padding-left: 20px;
}

/* header settings */

.header {
    padding:10px;
}

.header nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.header nav ul li {
    display: inline;
    padding-left: 20px;
}

/* link settings */

a {
    color: #333;
    text-decoration: underline;
}
a:hover {
    color: #999;
}

/* page content settings */

h1 {
    padding: 10px;
    font-size: 3em;
}

p {
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #555;
}

ul.posts { 
    padding: 20px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.divider {
    padding-left: 15px;
    padding-right: 15px;
}
