<ul>
  <li><a href="https://github.com/{{site.author.github}}" onclick="trackOutboundLink('https://github.com/{{site.author.github}}');" target="_blank"><i class="fa fa-github-alt fa-2x" title="Find me on Github"></i></a></li>
  <li><a href="https://twitter.com/{{site.author.twitter}}" onclick="trackOutboundLink('https://twitter.com/{{site.author.twitter}}');" target="_blank"><i class="fa fa-twitter fa-2x" title="Find me on Twitter"></i></a></li>
  <li><a href="https://www.linkedin.com/in/{{site.author.linkedin}}" onclick="trackOutboundLink('https://www.linkedin.com/in/{{site.author.linkedin}}');" target="_blank"><i class="fa fa-linkedin fa-2x" title="Find me on Linkedin"></i></a></li>
  <li><a href="{{site.production_url}}/rss.xml" target="_blank"><i class="fa fa-rss fa-2x" title="Feed me"></i></a></li>
</ul>
<ul class="copyright">
  <li>License 2016 <a href="/LICENCE" target="_blank"><i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-nc"></i><i class="cc cc-nd"></i></a></li>
</ul>