<ul>
  <li><a href="https://github.com/{{site.author.github}}" onclick="trackOutboundLink('https://github.com/{{site.author.github}}');" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt" title="Find me on Github"></i></a></li>
  <li><a href="https://bsky.app/profile/{{site.author.bluesky}}" onclick="trackOutboundLink('https://bsky.app/profile/{{site.author.bluesky}}');" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky" title="Find me on BlueSky"></i></a></li>
  <li><a href="https://www.linkedin.com/in/{{site.author.linkedin}}" onclick="trackOutboundLink('https://www.linkedin.com/in/{{site.author.linkedin}}');" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" title="Find me on Linkedin"></i></a></li>
  <li><a href="{{site.production_url}}/rss.xml" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-rss" title="RSS Feeds"></i></a></li>
</ul>
<ul class="copyright">
  <li>License 2016-2025 <a href="/LICENCE" target="_blank" rel="noopener noreferrer" aria-label="Creative Commons License"><i class="cc cc-cc" aria-hidden="true"></i><i class="cc cc-by" aria-hidden="true"></i><i class="cc cc-nc" aria-hidden="true"></i><i class="cc cc-nd" aria-hidden="true"></i></a></li>
</ul>
