<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- helpers to render link content on external websites -->
  <title>{{ page.title }}</title>
  {% if page.description != null %}
    {% assign desc = page.description %}
  {% else %}
    {% assign desc = page.excerpt | strip_html | strip_newlines %}
  {% endif %}
  <meta name="description" content="{{ desc }}" >
  {% if page.image != null %}
    {% assign image = page.image %}
  {% else %}
    {% assign image = site.image %}
  {% endif %}
  <!-- google plus -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ desc }}">
  <meta itemprop="image" content="{{ image }}">
  <!-- twitter summary card -->
  <meta name="twitter:card" content="summary" >
  <meta name="twitter:site" content="@emvar" >
  <meta name="twitter:title" content="{{ page.title }}" >
  <meta name="twitter:description" content="{{ desc }}" >
  <meta name="twitter:creator" content="@emvar">
  <meta name="twitter:image:src" content="{{ image }}">
  <!-- facebook and linkedin -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
  <meta property="og:image" content="{{ image }}" />

  <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="emilvarga.com">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  {% include highlight.html %}
</head>
