{% capture page_url %}{{ site.production_url }}{{page.url}}{% endcapture %}
{% assign title = page.title | cgi_escape %}
{% assign hashtags = page.tags | join: ',' | replace:' ','-' | cgi_escape %}
<div class="share center">
    <span>Share with </span>
    <a href="https://twitter.com/share?url={{page_url}}&text={{title}}&via={{site.author.twitter}}&hashtags={{hashtags}}" target="_blank" onclick="trackOutboundLink('https://twitter.com/share?url={{page_url}}&text={{title}}&via={{site.author.twitter}}&hashtags={{hashtags}}');"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://reddit.com/submit?url={{page_url}}&title={{title}}" target="_blank" onclick="trackOutboundLink('https://reddit.com/submit?url={{page_url}}&title={{title}}');"><i class="fa fa-reddit-square fa-2x"></i></a>
    <a href="https://plus.google.com/share?url={{page_url}}" target="_blank" onclick="trackOutboundLink('https://plus.google.com/share?url={{page_url}}');"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <a href="https://www.facebook.com/sharer.php?u={{page_url}}" target="_blank" onclick="trackOutboundLink('https://www.facebook.com/sharer.php?u={{page_url}}');"><i class="fa fa-facebook-square fa-2x"></i></a>
</div>