<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/Blog" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="header">
        {% include header.html %}
      </div>
      <div class="body">
        {{content}}
      </div>
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </body>
  <!-- load css lazily here-->
  <!--icons-->
  {% include lazy_css.html css_path='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %}
  <!--copyright icons-->
  {% include lazy_css.html css_path='https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css' %}
</html>
