---
layout: basic
---
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    <div class="body">
      {{content}}
      <div class="push"></div>
    </div>
    <div class="footer">
      <ul>
        <li><a href="https://github.com/cogitor"><i class="fa fa-github-alt fa-2x"></i></a></li>
        <li><a href="https://twitter.com/emvar"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://ie.linkedin.com/in/emilvarga"><i class="fa fa-linkedin fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</body>
